.head {
  padding: 15px;
  font-size: 25px;
  border-style: double;
}

.form_style {
  padding: 40px;

  min-height: 50%;

  background-color: rgb(213, 220, 221);
  position: absolute;
  top: 10%;
  left: 38%;
}
.form_style td {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}
.form_style th {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}
.radio_css {
  display: flex;
  place-items: center;
  font-size: 12px;
  gap: 5px;
}
.dob-css {
  display: flex;

  place-items: center;
  font-style: italic;

  font-size: 12px;
}
.dob-css input {
  width: 35px;
  margin: 5px;
}

.address_css input {
  width: 350px;
}
.course_css {
  font-size: 12px;
  width: 450px;
  display: flex;
  place-items: center;
  gap: 8px;
}
.btn_css {
  color: rgb(119, 6, 127);
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  gap: 10px;
}
.btn_css button {
  border: 2px solid black;
  padding: 5px;
  border-radius: 25px 1px;
}
