nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: flex;
  /* text-decoration: none; */
  color: rgb(17, 4, 4);
  padding: 0.5rem;
  margin: 8px;
  font-weight: bold;
}
